# Copyright (c) 2025 Gong Zhile <gongzl@stu.hebust.edu.cn>
# SPDX-License-Identifier: Apache-2.0

config SOC_WS63
	select RISCV
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_F
	select RISCV_ISA_EXT_C
	select RISCV_PRIVILEGED
	select RISCV_SOC_HAS_GP_RELATIVE_ADDRESSING
	select RISCV_ISA_EXT_ZICSR
	imply XIP
